<template>
	<div>
		Hola Mundo
		<br>
		{{el}}
	</div>
</template>
<script>
	export default {
		name: 'practica',
		data(){
			return {
				el:'123'
			}
		},
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
<style scoped>
	
</style>